{% extends "layout3.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='cart.css') }}">

<div id="boxes">
    <div id="leftbox">
        <section class="latest">
            <div class="latest-flex">
                {% for i in cart %}
                <div class="latest-block" onclick="redirect('product/{{i.get('_id')}}')">
                    <div class="latest-content">
                        <img src="{{ i.get('image')[0] }}" alt="" class="latest-img">
                        <div class="latest-name" style="margin-bottom: 5px;">{{ i.get('name') }}</div>
                        <div class="latest-price">
                            {% if i.get('srp') == i.get('mrp') %}
                            <span class="gold-price">INR {{i.get('srp')}}</span>
                            {% else %}
                            <span class="gold-price">INR {{i.get('srp')}}</span>
                            &nbsp;&nbsp;&nbsp; <!-- adds space -->
                            <span style="text-decoration: line-through;">INR {{i.get('mrp')}} </span>
                            {% endif %}
                        </div>
                        <div class="latest-buy"><a href="/remove/{{i.get('_id')}}">Remove from cart</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
    <div id="rightbox">
        <div class="x-us-line" style="width: 100%;"></div>
        <span style="float: left;" class="x-us-title">Total Quantity:</span>
        <span style="float: right;" class="x-us-title">{{total_qty}}</span>
        <br>
        <br>
        <span style="float: left;" class="x-us-title">Cart Total:</span>
        <span style="float: right;" class="x-us-title">INR {{total_amount}}</span>
        <br>
        <br>
        <br>
        <form method="POST">
            <input class="cart-form" style="width: 100%;" type="text" placeholder="Name" name="name" required>
            <input class="cart-form" style="width: 100%;" type="text" placeholder="Phone No." name="phone" required>
            <input class="cart-form" style="width: 100%;" type="text" placeholder="Email" name="email" required>
            <textarea class="cart-form" style="width: 100%;" placeholder="Address" name="address" required></textarea>
            <input class="cart-form" style="width: 100%;" type="text" placeholder="UPI ID" name="upi" required>
            <img src="https://drive.google.com/uc?id=1m7Z8Q3Up3Bj43dNt66-vBG834r-FDasP" class="qr">
            <button class="latest-buy" style="width: 100%; font-size: 16px;" type="submit"><a href="{{ url_for('success') }}">Buy Now</button>
        </form>
        <div class="x-us-line" style="width: 100%;"></div>
    </div>
</div>

{% endblock content %}