{% extends "layout.html" %}
{% block content %}

<div class="box">
    {% for i in cart %}
    <form method="POST" action="/cart" class="d-flex">
        {% if i.get('quantity') > 5 %}
        <input class="btn" type="number" style="border-color: black; border-radius:0px; width:200px" type="search"
            placeholder="Search" ,aria-label="Search" , name="quantity{{cart.index(i)}}" min="0" max={{5}}
            value={{i.get('cqty')}}>
        {% else %}
        <input class="btn" type="number" style="border-color: black; border-radius:0px;" type="search"
            placeholder="Search" ,aria-label="Search" , name="quantity{{cart.index(i)}}" min="0"
            max={{i.get('quantity')}} value={{i.get('cqty')}}>
        {% endif %}
        <button class="btn" style="border-color: black; color:#000 ; border-radius:0px; width:150px">
            <i class="fa fa-check"></i></button>
    </form>
    <br>
    {% endfor %}
    <button type="submit" class="textareatt subbm"><a href="/info">Buy Now: &nbsp;₹{{total_amount}}</a></button>
</div>

{% endblock content %}