{% extends "layout3.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">

<!-- SECTION I: CAROUSEL AND INTRO -->

<section class="carousel-back">
    <div class="carousel-overlay"></div>
    <div class="intro">
        <div class="intro-box">
            <h1 class="slogan">
                <span class="slogan-1">Campus</span>
                <span class="slogan-2">Chic</span>
            </h1>
            <h2 class="slogan-desc">
                Embark on an unforgettable and thrilling gaming journey with our exceptional range of top-quality
                products and services.
            </h2>
        </div>
    </div>

    <div class="carousel">
        <div class="slides">
            <img src="{{url_for('static', filename='assets/Carousel/c1.png')}}" alt="slide image" class="slide">
            <img src="{{url_for('static', filename='assets/Carousel/c2.png')}}" alt="slide image" class="slide">
            <img src="{{url_for('static', filename='assets/Carousel/c3.png')}}" alt="slide image" class="slide">
            <img src="{{url_for('static', filename='assets/Carousel/c4.png')}}" alt="slide image" class="slide">
            <img src="{{url_for('static', filename='assets/Carousel/c5.png')}}" alt="slide image" class="slide">
            <img src="{{url_for('static', filename='assets/Carousel/c6.png')}}" alt="slide image" class="slide">
        </div>
        <div class="controls">
            <div class="control prev-slide">&#9668;</div>
            <div class="control next-slide">&#9658;</div>
        </div>
    </div>
</section>

<!-- SECTION II: LATEST ABOUT US -->

<section class="about">
    <div class="about-flex">
        <div class="about-block">
            <h3 class="about-title">Gaming Products</h3>
            <div class="about-text">
                Games Trade markets and sells Video Games, Console & Accessories through digital distribution channels,
                as well as through retail channels, such as mass market retailers, electronics specialty stores, and
                game software specialty stores.
            </div>
        </div>
        <div class="about-block">
            <h3 class="about-title">Microsoft Products</h3>
            <div class="about-text">
                We are also authorized dealer for Microsoft Surface Devices & Accessories and Microsoft Office products
                including Surface Pro, Surface Go, Surface Laptop, Surface Book, etc.
            </div>
        </div>
        <div class="about-block">
            <h3 class="about-title">Custom-Centric Approach</h3>
            <div class="about-text">
                Games Trade has been in this gaming industry for past 2 decades and understand the nerves of
                every-gamer. Our objective is to provide the latest and best to our customers at competitive prices
                without compromising on service.
            </div>
        </div>
    </div>
</section>

<!-- SECTION III: LATEST Products -->

<section class="latest">
    <h1 class="latest-title">Latest Products</h1>
    <div class="latest-flex">

        {% for i in latest_prod %}
        <div class="latest-block" onclick="redirect('product/{{i.get('_id')}}')">
            <div class="latest-content">
                <img src="{{ i.get('image')[0] }}" alt="" class="latest-img">
                <div class="latest-name" style="margin-bottom: 5px;">{{ i.get('name') }}</div>
                <div class="latest-price">
                    {% if i.get('srp') == i.get('mrp') %}
                    <span class="gold-price">INR {{i.get('srp')}}</span>
                    {% else %}
                    <span class="gold-price">INR {{i.get('srp')}}</span>
                    &nbsp;&nbsp;&nbsp; <!-- adds space -->
                    <span style="text-decoration: line-through;">INR {{i.get('mrp')}}</span>
                    {% endif %}
                </div>
                {% if i.get('cqty') == 0 %}
                <div class="latest-buy"><a href="/add/{{i.get('_id')}}">Add to cart</a></div>
                {% else %}
                <div class="latest-buy"><a href="/remove/{{i.get('_id')}}">Remove from cart</a></div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
</section>

<!-- CAROUSEL SCRIPT -->

<script>
    const delay = 3000; //ms
    const slides = document.querySelector(".slides");
    const slidesCount = slides.childElementCount;
    const maxLeft = (slidesCount - 1) * 100 * -1;

    let current = 0;

    function changeSlide(next = true) {
        if (next) {
            current += current > maxLeft ? -100 : current * -1;
        } else {
            current = current < 0 ? current + 100 : maxLeft;
        }

        slides.style.left = current + "%";
    }

    let autoChange = setInterval(changeSlide, delay);
    const restart = function () {
        clearInterval(autoChange);
        autoChange = setInterval(changeSlide, delay);
    };

    // Controls
    document.querySelector(".next-slide").addEventListener("click", function () {
        changeSlide();
        restart();
    });

    document.querySelector(".prev-slide").addEventListener("click", function () {
        changeSlide(false);
        restart();
    });

    function redirect(i) {
        window.location.href = "http://127.0.0.1:3000/" + i;
    }

</script>



{% endblock content %}