{% extends "layout2.html" %}
{% block content %}

<div class="box">
    <h1>View Tracking Details</h1>
    <br>
    <form method="POST" action="{{ url_for('track_order') }}" class="d-flex">
        <input class="btn" style="text-align:left; border-color: black; border-radius:0px; width:50%" , name="order_id" ,
            placeholder="Order ID">
        &nbsp;&nbsp;
        <button class="btn" style="border-color: black; color:#000 ; border-radius:0px; width:150px" type="submit">
            <i class="fa fa-check"></i></button>
    </form>
    <br><br>
    {% if stat == 1 %}
    <div class="d-flex">
        <div style="border: 1px solid #000; padding: 10px; padding-left: 25px; padding-right: 25px;">
            {% for j in order.get('cart') %}
            {% for k in products %}
            <div class="row" style="width:150px">
                {% if j.get('_id') == k.get('_id') %}
                <img class="iii" src={{k.get('image')}} style="width:50px; margin-bottom: 10px;" class="example">
                &nbsp;&nbsp;
                <div style="word-break: break-word;">
                    <center>
                        {{k.get('category')}}
                        <br>
                        {{k.get('name')}}
                        <br>
                        QTY: {{j.get('cqty')}}
                    </center>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        &nbsp;&nbsp;
        <span class="example">
            {{order.get('name')}}
        </span>
        &nbsp;&nbsp;
        <span class="example">
            {{order.get('phone')}}
        </span>
        &nbsp;&nbsp;
        <span class="example" style="width:225px">
            {{order.get('address')}}
        </span>
        &nbsp;&nbsp;
        <span class="example" style="width:100px">
            INR: {{order.get('amount')}}
        </span>

        &nbsp;&nbsp;
        <span class="example" style="width:100px">
            {{order.get('status')}}
        </span>
    </div>
    {% else %}
    <h3>Order Not Available</h3>
    {% endif %}
    <br>
</div>

{% endblock content %}